# Ignore node_modules directory
node_modules/

.env/

# Ignore logs
logs/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore built files
dist/
build/
out